<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MovieMinia.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5093D604403FE59121F7BAB0A72022F68F4B51E1</string>
				<key>dateExpires</key>
				<string>20/07/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5093D604403FE59121F7BAB0A72022F68F4B51E1</string>
						<key>dateExpires</key>
						<string>20/07/2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GB7JA654B7</string>
						<key>name</key>
						<string>Fasih Ullah</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GB7JA654B7.org.reactjs.native.example.MovieMinia</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GB7JA654B7</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MovieMinia.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>95ebf192-c887-42e8-9366-27ca2a7a08c3</string>
				<key>dateExpires</key>
				<string>20/07/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GB7JA654B7</string>
				<key>name</key>
				<string>Fasih Ullah</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
